*.*
/*
!resources/
resources/app/*
!resources/app/piepieonline
!resources/app/piepieonline**
!resources/app/editor.*
resources/app/piepieonline/3dview/extractedParents/*
resources/app/piepieonline/propExtract/**/*
resources/app/piepieonline/graphHelper2/**/*
!/PieGraphHelper
/PieGraphHelper/*
!/PieGraphHelper/resources**
!QuickEntityEditorPieExt.bat